.bienvenida a {
    color: #000;
	text-decoration: none;
    float: right;
    margin: 0 2% 0 0;
}

.slider .image {
    width: 85%;
    margin: auto;
    height: 50%;
}

.slider .indicador {
    width: 20%;
}

.bienvenida a:hover {
    text-decoration: none;
    color: #39C29B;
}

.contenido h1 {
    margin: 3% auto 2% auto;
}

.intro {
    font-size: 20px;
    width: 80%;
    margin: 2% auto 0 auto;
}
.funcionalidades h5 {
    margin: 2% 0 0 0;
}