.boton {
    margin: 0 0 0 10%;
}

h1 {
text-align: center;
color: #069;  
}

.slider {
    margin-top: -5%;
}

.slider .image {
    width: 90%;
    margin: auto;
    height: 70%;
}

.slider .indicador {
    width: 20%;
}

.content {
    margin: 4% 0 2% 0;
}
.intro {
    font-size: 20px;
    width: 80%;
    margin: 2% auto 0 auto;
}

.imagen {
    width: 55%;
    height: 55%;
    margin-bottom: 3%;
}

.imagen:hover {
    cursor: pointer;
}
.logueate {
    background-color: #1C3A4D;
}
.logueate h5{
    color: #fff;
    width: 100%;
}