body {
    margin: 0 0 10% 0;
    
}
.boton {
    margin: 0 0 0 10%;
}
h1 {
text-align: center;
color: #069;  
}
.slider {
    width: 1200px;
    height: 500px;
    margin: 0 auto 5% auto; 
}

.slider .image {
    height: 500px;
    width: 1200px;
}
.content {
    margin: 4% 0 2% 0;
}

.info {
    float: left;
}
.text {
    margin-left: 5%;
}