body {
    margin: 0 0 10% 0;
    
}
.boton {
    margin: 0 0 0 10%;
}

h1 {
text-align: center;
color: #069;  
}

.slider .image {
    width: 85%;
    margin: auto;
    height: 100%;
}

.slider .indicador {
    width: 20%;
}

.content {
    margin: 4% 0 2% 0;
}
.intro {
    font-size: 20px;
    width: 80%;
    margin: 2% auto 0 auto;
}

.imagen {
    width: 55%;
    height: 55%;
}

.imagen:hover {
    cursor: pointer;
}